USE [backend]
GO
/****** Object:  Table [dbo].[BILL_DETAILS]    Script Date: 9/27/2019 9:06:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_DETAILS](
	[B_ID] [int] NULL,
	[M_ID] [int] NULL,
	[BD_Count] [int] NULL,
	[BD_Price] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILLS]    Script Date: 9/27/2019 9:06:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLS](
	[B_ID] [int] IDENTITY(1,1) NOT NULL,
	[E_ID] [int] NULL,
	[B_Date] [datetime] NULL,
	[B_Payment] [float] NULL,
 CONSTRAINT [PK_BILLS] PRIMARY KEY CLUSTERED 
(
	[B_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CANCEL_MATERIALS]    Script Date: 9/27/2019 9:06:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANCEL_MATERIALS](
	[E_ID] [int] NULL,
	[MT_ID] [int] NULL,
	[C_MA_Date] [datetime] NULL,
	[C_MA_Reason] [varchar](255) NULL,
	[C_MA_Count] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 9/27/2019 9:06:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[E_ID] [int] IDENTITY(1,1) NOT NULL,
	[E_Name] [nvarchar](50) NULL,
	[E_FullName] [varchar](50) NULL,
	[E_Position] [nvarchar](25) NULL,
	[E_Gender] [nvarchar](50) NULL,
 CONSTRAINT [PK_EMPLOYEES] PRIMARY KEY CLUSTERED 
(
	[E_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INGREDIENTS]    Script Date: 9/27/2019 9:06:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGREDIENTS](
	[M_ID] [int] NULL,
	[MA_ID] [int] NULL,
	[I_Count] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL_TYPES]    Script Date: 9/27/2019 9:06:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL_TYPES](
	[MA_T_ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_T_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_MATERIAL_TYPES] PRIMARY KEY CLUSTERED 
(
	[MA_T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIALS]    Script Date: 9/27/2019 9:06:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIALS](
	[MA_ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_T_ID] [int] NULL,
	[MA_Name] [nvarchar](50) NULL,
	[MA_Supplie] [nvarchar](25) NULL,
	[MA_Unit] [nvarchar](10) NULL,
	[MA_Count] [int] NULL,
	[MA_Cost] [float] NULL,
	[MA_Expiration_Date] [datetime] NULL,
	[MA_Import_Date] [datetime] NULL,
 CONSTRAINT [PK_MATERIALS] PRIMARY KEY CLUSTERED 
(
	[MA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU_TYPES]    Script Date: 9/27/2019 9:06:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU_TYPES](
	[MT_ID] [int] IDENTITY(1,1) NOT NULL,
	[MT_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_MENU_TYPES] PRIMARY KEY CLUSTERED 
(
	[MT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENUS]    Script Date: 9/27/2019 9:06:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENUS](
	[M_ID] [int] IDENTITY(1,1) NOT NULL,
	[MT_ID] [int] NULL,
	[M_Name] [nvarchar](50) NULL,
	[M_Price] [float] NULL,
	[M_Img] [varchar](255) NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[M_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 9/27/2019 9:06:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[O_ID] [int] IDENTITY(1,1) NOT NULL,
	[M_ID] [int] NULL,
	[TD_ID] [int] NULL,
	[O_Count] [int] NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[O_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROMOTES]    Script Date: 9/27/2019 9:06:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOTES](
	[P_ID] [int] IDENTITY(1,1) NOT NULL,
	[M_ID] [int] NULL,
	[P_Discount] [int] NULL,
	[P_Content] [nvarchar](255) NULL,
	[P_Date_Start] [datetime] NULL,
	[P_Date_End] [datetime] NULL,
 CONSTRAINT [PK_PROMOTES] PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLE_DETAILS]    Script Date: 9/27/2019 9:06:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLE_DETAILS](
	[TD_ID] [int] IDENTITY(1,1) NOT NULL,
	[TD_Position] [nvarchar](50) NULL,
 CONSTRAINT [PK_TABLE_DETAILS] PRIMARY KEY CLUSTERED 
(
	[TD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 9/27/2019 9:06:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[U_ID] [int] IDENTITY(1,1) NOT NULL,
	[U_UserName] [nvarchar](255) NULL,
	[U_Password] [nvarchar](255) NULL,
	[fullName] [nvarchar](255) NULL,
	[E_ID] [int] NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[U_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BILL_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_BILL_DETAILS_BILLS] FOREIGN KEY([B_ID])
REFERENCES [dbo].[BILLS] ([B_ID])
GO
ALTER TABLE [dbo].[BILL_DETAILS] CHECK CONSTRAINT [FK_BILL_DETAILS_BILLS]
GO
ALTER TABLE [dbo].[BILL_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_BILL_DETAILS_MENU] FOREIGN KEY([M_ID])
REFERENCES [dbo].[MENUS] ([M_ID])
GO
ALTER TABLE [dbo].[BILL_DETAILS] CHECK CONSTRAINT [FK_BILL_DETAILS_MENU]
GO
ALTER TABLE [dbo].[BILLS]  WITH CHECK ADD  CONSTRAINT [FK_BILLS_EMPLOYEES] FOREIGN KEY([E_ID])
REFERENCES [dbo].[EMPLOYEES] ([E_ID])
GO
ALTER TABLE [dbo].[BILLS] CHECK CONSTRAINT [FK_BILLS_EMPLOYEES]
GO
ALTER TABLE [dbo].[CANCEL_MATERIALS]  WITH CHECK ADD  CONSTRAINT [FK_CANCEL_MATERIALS_EMPLOYEES] FOREIGN KEY([E_ID])
REFERENCES [dbo].[EMPLOYEES] ([E_ID])
GO
ALTER TABLE [dbo].[CANCEL_MATERIALS] CHECK CONSTRAINT [FK_CANCEL_MATERIALS_EMPLOYEES]
GO
ALTER TABLE [dbo].[CANCEL_MATERIALS]  WITH CHECK ADD  CONSTRAINT [FK_CANCEL_MATERIALS_MENU_TYPES] FOREIGN KEY([MT_ID])
REFERENCES [dbo].[MENU_TYPES] ([MT_ID])
GO
ALTER TABLE [dbo].[CANCEL_MATERIALS] CHECK CONSTRAINT [FK_CANCEL_MATERIALS_MENU_TYPES]
GO
ALTER TABLE [dbo].[INGREDIENTS]  WITH CHECK ADD  CONSTRAINT [FK_INGREDIENTS_MATERIALS] FOREIGN KEY([MA_ID])
REFERENCES [dbo].[MATERIALS] ([MA_ID])
GO
ALTER TABLE [dbo].[INGREDIENTS] CHECK CONSTRAINT [FK_INGREDIENTS_MATERIALS]
GO
ALTER TABLE [dbo].[INGREDIENTS]  WITH CHECK ADD  CONSTRAINT [FK_INGREDIENTS_MENU] FOREIGN KEY([M_ID])
REFERENCES [dbo].[MENUS] ([M_ID])
GO
ALTER TABLE [dbo].[INGREDIENTS] CHECK CONSTRAINT [FK_INGREDIENTS_MENU]
GO
ALTER TABLE [dbo].[MATERIALS]  WITH CHECK ADD  CONSTRAINT [FK_MATERIALS_MATERIAL_TYPES] FOREIGN KEY([MA_T_ID])
REFERENCES [dbo].[MATERIAL_TYPES] ([MA_T_ID])
GO
ALTER TABLE [dbo].[MATERIALS] CHECK CONSTRAINT [FK_MATERIALS_MATERIAL_TYPES]
GO
ALTER TABLE [dbo].[MENUS]  WITH CHECK ADD  CONSTRAINT [FK_MENU_MENU_TYPES] FOREIGN KEY([MT_ID])
REFERENCES [dbo].[MENU_TYPES] ([MT_ID])
GO
ALTER TABLE [dbo].[MENUS] CHECK CONSTRAINT [FK_MENU_MENU_TYPES]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_MENU] FOREIGN KEY([M_ID])
REFERENCES [dbo].[MENUS] ([M_ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_MENU]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_TABLE_DETAILS] FOREIGN KEY([TD_ID])
REFERENCES [dbo].[TABLE_DETAILS] ([TD_ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_TABLE_DETAILS]
GO
ALTER TABLE [dbo].[PROMOTES]  WITH CHECK ADD  CONSTRAINT [FK_PROMOTES_MENU] FOREIGN KEY([M_ID])
REFERENCES [dbo].[MENUS] ([M_ID])
GO
ALTER TABLE [dbo].[PROMOTES] CHECK CONSTRAINT [FK_PROMOTES_MENU]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_EMPLOYEES] FOREIGN KEY([E_ID])
REFERENCES [dbo].[EMPLOYEES] ([E_ID])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_EMPLOYEES]
GO
